<html>
    <head>
        <title>Django IDE</title>
        <!-- Style -->
        <link rel="stylesheet" type="text/css" href="/static/codemirror/styles.css" />
        <link rel="stylesheet" type="text/css" href="/static/extjs/resources/css/ext-all-notheme.css" />
        <link rel="stylesheet" type="text/css" title="blue" href="/static/extjs/resources/css/xtheme-blue.css" />
        <link rel="stylesheet" type="text/css" title="gray" href="/static/extjs/resources/css/xtheme-gray.css" /> 
        <link rel="stylesheet" type="text/css" href="/static/css/ui-ide.css" />
        <!-- Javascript -->
        <script type="text/javascript">var appname="{{ app_name }}";</script>
        <script type="text/javascript" src="/static/extjs/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="/static/extjs/ext-all.js"></script>
        <script type="text/javascript" src="/static/codemirror/codemirror.js"></script>
        <script type="text/javascript" src="/static/js/ui-ide.js"></script>
        <script type="text/javascript" src="/static/js/menus.js"></script> 
        <link rel="stylesheet" type="text/css" href="/static/css/menus.css" /> 
    </head>
    <body>
        <!-- use class="x-hide-display" to prevent a brief flicker of the content -->
        <div id="west" class="x-hide-display">
            <p>West panel.</p>
        </div>
        <div id="props-panel" class="x-hide-display" style="width:200px;height:200px;overflow:hidden;">
        </div>
        <div id="south" class="x-hide-display">
            <p>Welcome to django-ide project!</p>
        </div>
    </body>
</html>
