html, body {
  font:normal 12px verdana;
  margin:0;
  padding:0;
  border:0 none;
  overflow:hidden;
  height:100%;
}
p {
  margin:5px;
}
.settings {
  background-image:urlextjs(../shared/icons/fam/folder_wrench.png);
}
.nav {
  background-image:url(../shared/icons/fam/folder_go.png);
}
